<h2>That was the correct answer!</h2>
<p>{{ result.displayable.seedPerson}} was mentioned with {{result.displayable.submittedAnswer}} in {{result.articlesWording}}:<p>

<ul>
{{#each result.linkingArticles}}
  <li><a href="https://www.ft.com/content/{{this.id}}" target="_blank">{{this.title}}</a></li>
{{/each}}
</ul>

<p>You have achieved {{ result.score }} {{ result.consecutiveWording }} so far.</p>

<form action="/question">
  <button type="submit" style="margin-top:0.5em; font-size:large; border-radius:10px;">Next question...!</button>
</form>
