<h2>That was not correct.</h2>

<p>The expected answer was {{result.expected}}.</p>

<p>{{ result.seedPerson}} was mentioned with {{result.submittedAnswer}} in {{result.articlesWording}}:<p>

<ul>
{{#each result.linkingArticles}}
  <li>{{this.title}}</li>
{{/each}}
</ul>

<p>You achieved a total of {{result.score}} {{ result.consecutiveWording }}.</p>
<p><a href="/question">Start again...</a></p>
