<h2>That was not correct.</h2>

<p>The expected answer was {{result.displayable.expected}}.</p>

<p>{{ result.displayable.seedPerson}} was mentioned with {{result.displayable.expected}} in {{result.articlesWording}}:<p>

<ul>
{{#each result.linkingArticles}}
  <li>{{this.title}}</li>
{{/each}}
</ul>

<p>You achieved a total of {{result.score}} {{ result.consecutiveWording }}.</p>

<p>{{ result.highestScoreMessage }}</p>

<a href="/question">
  <input type="submit" value="Start again..." style="margin-top:0.5em; font-size:xx-large;" />
</a>

<h3>History</h3>
<ul>
{{#each result.displayable.history}}
  <li>{{this.seedPerson}} - {{ this.nextAnswer }}</li>
{{/each}}
</ul>
