<h2> Question {{ questionNum }}: In the last {{ intervalDays }} days, <em>{{seed.printValue}}</em> was mentioned in an article with which one of the following people?</h2>

<form method="POST" action="/answer" class="o-forms">
	{{#each options}}
		<input type="radio" name="answer" value="{{this.value}}" class="o-forms__radio" id="{{this.printValue}}">
		<label for="{{this.printValue}}" class="o-forms__label">{{this.printValue}}</label>
		<br>
	{{/each}}
	<br />
	<button type="submit" style="margin-top:0.5em; font-size:large; border-radius:10px;">Submit Answer</button>
</form>
